<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceCraft</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/style.css">

  <!--Link your CSS file here -->

</head>
    
<body>
    <div class="col-lg-10 col-sm-12 game" >
        <form method = "POST" action="/f1"><button id="box1">{{N1}}</button></form>
        <form method = "POST" action="/f2"><button id="box2">{{N2}}</button></form>
        <form method = "POST" action="/f3"><button id="box3">{{N3}}</button></form>
        <form method = "POST" action="/f4"><button id="box4">{{N4}}</button></form>
        <form method = "POST" action="/f5"><button id="box5">{{N5}}</button></form>
        <form method = "POST" action="/f6"><button id="box6">{{N6}}</button></form>
        <form method = "POST" action="/f7"><button id="box7">{{N7}}</button></form>
        <form method = "POST" action="/f8"><button id="box8">{{N8}}</button></form>
        <form method = "POST" action="/f9"><button id="box9">{{N9}}</button></form>
        <form method = "POST" action="/f10"><button id="box10">{{N10}}</button></form>
        <form method = "POST" action="/f11"><button id="box11">{{N11}}</button></form>
        <form method = "POST" action="/f12"><button id="box12">{{N12}}</button></form>
        <form method = "POST" action="/f13"><button id="box13">{{N13}}</button></form>
        <form method = "POST" action="/f14"><button id="box14">{{N14}}</button></form>
        <form method = "POST" action="/f15"><button id="box15">{{N15}}</button></form>
        <form method = "POST" action="/f16"><button id="box16">{{N16}}</button></form>
        <form method = "POST" action="/f17"><button id="box17">{{N17}}</button></form>
        <form method = "POST" action="/f18"><button id="box18">{{N18}}</button></form>
        <form method = "POST" action="/f19"><button id="box19">{{N19}}</button></form>
        <form method = "POST" action="/f20"><button id="box20">{{N20}}</button></form>
        <form method = "POST" action="/f21"><button id="box21">{{N21}}</button></form>
        <form method = "POST" action="/f22"><button id="box22">{{N22}}</button></form>
        <form method = "POST" action="/f23"><button id="box23">{{N23}}</button></form>
        <form method = "POST" action="/f24"><button id="box24">{{N24}}</button></form>
        <form method = "POST" action="/f25"><button id="box25">{{N25}}</button></form>
    </div>
    <div class="col-lg-2 col-sm-12 number" >
        <p id="headNo">Locate :</p><br>
        <p id="fNo">{{locate}}</p>
    </div>
</body>

</html>
